<div class="row">
  <aside class="col-sm-4">
    <div>
        <%= render 'profile', user: @user %>
    </div>
  </aside>
  <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Posts</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Favorites</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Follows</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
    </ul>
    <!-- ここにユーザーのポスト一覧を表示 -->
  </div>
</div>
