<header class="mb-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">At That Time</a>
    
    <% if logged_in? %>
      <div class="d-inline-flex justify-content-end">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <%# link_to image_tag("<%= gravatar_url(current_user, { size: 40 }) %>
        <a class="nav-link" href="<%= user_path(current_user) %>"><img class="mr-2 rounded" src="<%= gravatar_url(current_user, { size: 40 }) %>" alt=""></a>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="#">Favorites</a>
              <!--<a class="dropdown-item" href="#">Log out</a>-->
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'Log out', logout_path, method: :delete %></li>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    
  </nav>
</header>