<header class="mb-4">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">At That Time</a>
    <div class="d-inline-flex justify-content-end">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a class="nav-link" href="#"><img src="#" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a href="#" class="nav-link">Favorites</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>